{% extends "main.html" %} {% block extrahead %}
<link rel="stylesheet" href="{{ 'assets/stylesheets/style.css' }}">
<link rel="stylesheet" href="{{ 'assets/stylesheets/bootstrap.css' }}">
<link rel="stylesheet" href="{{ 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/dark.min.css' }}"> {% endblock %} {% block tabs %} {{ super() }}
<script src='{{"https://cdn.jsdelivr.net/npm/@gitgraph/js"}}'></script>
<div class='container'>
    <div class='row m-3 w-100'>
        <div class='col-lg-6 text mb-5 animate-from-left'>
            <div class="row">
                <div class="mb-4 col-md-12 d-flex justify-content-center">
                    <div class="card text-bg-dark">
                        <img src="assets/git-logo.png" class="card-img p-5" alt="Git Logo">
                    </div>
                </div>
                <div class='mb-4 col-md-12 d-flex justify-content-center flex-column'>
                    <h3>人生不能重來，但 Git 可以git reset</h3>
                    <p>Git是一套分散式版本控制軟體，使得團隊成員能夠協同工作、追蹤變更、解決衝突以及維護代碼庫的歷史記錄。</p>
                </div>
            </div>
        </div>
        <div class='col-lg-6 animate-from-right'>
            <div class='row h-100'>
                <div class='mb-4 col-md-12 d-flex justify-content-center'>
                    <div class="terminal-window" id="welcome">
                        <header>
                            <div class="button green"></div>
                            <div class="button yellow"></div>
                            <div class="button red"></div>
                        </header>
                        <div class="terminal">
                            <div class="history"></div> $&nbsp;<span class="prompt"></span>
                            <span class="typed-cursor"></span>
                        </div>
                    </div>
                    <!-- data -->
                    <div class="terminal-data mimik-run-output">
                        <br>學習參考<br> ----------------------------------------------<br>
                        <br> &nbsp;&nbsp;名稱<br>
                        <span class="gray">&nbsp;---------- ----------- ------- -------- --------</span>
                        <br> &nbsp;&nbsp;<a class="blue-underline" href="https://learngitbranching.js.org/?locale=zh_TW">1. Learn Git Branching</a>
                        <br> &nbsp;&nbsp;<a class="blue-underline" href="https://youtube.com/playlist?list=PLliocbKHJNwvDp464ktZCsj8h7rXFBE8r&si=74tuVT8u1BOCpFev">2. 小馬技術</a>
                        <br> &nbsp;&nbsp;<a class="blue-underline" href="https://angular-courses-2024-work-systex-ab5431191dc698292ae12b22519d6d.gitlab.io/git/introduction/">3. Angular Courses 2024</a><br>
                        <span class="gray">&nbsp;---------- ----------- ------- -------- --------</span>
                        <br> &nbsp;&nbsp;學習愉快~<br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#section1" class="arrow bounce"></a>
</div>
<section id='section1' class='container flex-column'>
    <h2 class='bounce-bottom'>分散式版本控制</h2>
    <div class='content'>
        <div id='local1' class='bounce-top-left position-absolute' style='top: 130px; left: 100px; font-size: 50px;'>
            <i class="fa-solid fa-computer"></i>
            <i class="fa-solid fa-database bounce-bottom-right hidden" style='color:cadetblue; border-color: cadetblue;'></i>
            <div class="arrow1 arrow-top-left"><span class='gitClone' style='font-size: 25px;'>git clone</span></div>
        </div>
        <div id='local2' class='bounce-top-right position-absolute' style='top: 110px; right: 50px; font-size: 30px;'>
            <i class="fa-solid fa-computer"></i>
            <i class="fa-solid fa-database bounce-bottom-left hidden" style='color:cadetblue; border-color: cadetblue;'></i>
            <div class="arrow1 arrow-top-right"><span class='gitClone' style='font-size: 25px;'>git clone</span></div>
        </div>
        <div id='local3' class='bounce-bottom-left position-absolute' style='bottom: 50px; left: 100px; font-size: 80px;'>
            <i class="fa-solid fa-computer"></i>
            <i class="fa-solid fa-database bounce-top-right hidden" style='color:cadetblue; border-color: cadetblue;'></i>
            <div class="arrow1 arrow-bottom-left"><span class='gitClone' style='font-size: 25px;'>git clone</span></div>
        </div>
        <div id='local4' class='bounce-bottom-right position-absolute' style='bottom: 170px; right: 10px; font-size: 50px;'>
            <i class="fa-solid fa-computer"></i>
            <i class="fa-solid fa-database bounce-top-left hidden" style='color:cadetblue; border-color: cadetblue;'></i>
            <div class="arrow1 arrow-bottom-right"><span class='gitClone' style='font-size: 25px;'>git clone</span>
            </div>
        </div>
        <div id='repoClick' class='position-absolute bounce-scale translate-middle start-50 top-50 d-flex flex-column text-center circle'>
            <i class="fa-solid fa-database mb-1" style='font-size: 70px;color:cadetblue;'></i>
            <span>遠端儲存庫<br>Remote Repository</span>
        </div>
        <div id='workingDirectory' class='position-absolute bounce-scale translate-middle start-50 top-50 d-flex flex-column text-center hidden z-n1'>
            <h4>Working Directory (工作目錄)</h4>
            <br>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1-1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio1-1">新建HTML文件</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1-2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio1-2">查看圖形化</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1-3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio1-3">git status</label>
            </div>
            <div id="videoContainer">
                <video id="video1-1" width="1000" preload="auto">
                    <source src="assets/video/video1-1.mp4" type="video/mp4">
                </video>
                <video id="video1-2" width="1000" preload="auto" style="display:none;">
                    <source src="assets/video/video1-2.mp4" type="video/mp4">
                </video>
                <video id="video1-3" width="1000" preload="auto" style="display:none;">
                    <source src="assets/video/video1-3.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <a id='goSection2' href="#section2" class="arrow bounce"></a>
</section>
<section id='section2' class='container flex-column'>
    <div class='content'>
        <div id='stagingArea' class='bounce-left position-absolute bounce-scale translate-middle start-50 top-50 d-flex flex-column text-center hidden z-n1 go'>
            <h4>Staging Area (暫存區)</h4>
            <br>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2-1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2-1">git add .</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2-2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2-2">git status</label>
            </div>
            <div id="videoContainer">
                <video id="video2-1" width="1000" preload="auto">
                    <source src="assets/video/video2-1.mp4" type="video/mp4">
                </video>
                <video id="video2-2" width="1000" preload="auto" style="display:none;">
                    <source src="assets/video/video2-2.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <a id='goSection3' href="#section3" class="arrow bounce"></a>
</section>
<section id='section3' class='container flex-column'>
    <div class='content'>
        <div id='localRepository' class='position-absolute bounce-scale translate-middle start-50 top-50 d-flex flex-column text-center hidden z-n1 go'>
            <h4>Local Repository (本地儲存庫)</h4>
            <br>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3-1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3-1">git commit -m "message"</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3-2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3-2">git status</label>
            </div>
            <div id="videoContainer">
                <video id="video3-1" width="1000" preload="auto">
                    <source src="assets/video/video3-1.mp4" type="video/mp4">
                </video>
                <video id="video3-2" width="1000" preload="auto" style="display:none;">
                    <source src="assets/video/video3-2.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <a id='goSection4' href="#section4" class="arrow bounce"></a>
</section>
<section id='section4' class='container flex-column'>
    <div class='content'>
        <div id='gitLog' class='position-absolute bounce-scale translate-middle start-50 top-50 d-flex flex-column text-center hidden z-n1 go'>
            <h4>git log 查看提交紀錄</h4>
            <br>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio4-1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio4-1">git log</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio4-2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio4-2">git log --oneline</label>
            </div>
            <div id="videoContainer">
                <video id="video4-1" width="1000" preload="auto">
                    <source src="assets/video/video4-1.mp4" type="video/mp4">
                </video>
                <video id="video4-2" width="1000" preload="auto" style="display:none;">
                    <source src="assets/video/video4-2.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <a href="#section5" class="arrow bounce"></a>
</section>
<section id='section5' class='bounce-left container flex-column justify-content-evenly' style='max-width: 100%;'>
    <h4>Local Repository</h4>
    <div class='w-100 d-flex justify-content-center align-items-center'>
        <div class="row bounce-scale text-center justify-content-center align-items-center">
            <div class="col-12 col-lg-3">
                <div class="card">
                    <h5 class="card-header p-3">Working Directory</h5>
                    <div class="card-body">
                        <i class="fa-solid fa-file-lines" style="color: #a6a6a6; font-size: 5em;"></i>
                        <p class="card-text p-2">Untracked File</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <p>git add</p>
                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <h5 class="card-header p-3">Staging Area</h5>
                    <div class="card-body">
                        <i class="fa-solid fa-file-lines" style="color: #ff2e2e; font-size: 5em;"></i>
                        <p class="card-text p-2">Tracked File</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <p>git commit</p>
                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <h5 class="card-header p-3">Local Repository</h5>
                    <div class="card-body">
                        <i class="fa-solid fa-file-lines" style="color: #00c288; font-size: 5em;"></i>
                        <p class="card-text p-2">Committed File</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#section6" class="arrow bounce"></a>
</section>
<section id='section6' class='bounce-left container flex-column'>
    <h4>實作git指令</h4>
    <div id="graph-container" style="position: relative; height: 600px; width: 100%; overflow-y: auto;">
        <i id="head-arrow" class="fa-solid fa-arrow-down arrow2" style='color: #ff4c4c;'></i>
    </div>
    <br>
    <input type="text" id="git-command" style="width: 100%;" placeholder="Enter git command" />
</section>
<section id='section7' class='bounce-left container flex-column' style="max-width: 100%;">
    <h4>更多指令</h4>
    <br>
    <div id="cards" class="row justify-content-center align-items-center gap-5 w-100">
        <div class="card col-lg col-md-4 col-sm-6 col-12" style="background-image:url(assets/imgs/img5.jpg);">
            <a href="/pages/Lesson05/" target="_blank">
                <br>比較修改內容 </a>
        </div>
        <div class="card col-lg col-md-4 col-sm-6 col-12" style="background-image:url(assets/imgs/img1.jpg);">
            <a href="/pages/Lesson07/" target="_blank">
                <br>更新最後的提交 </a>
        </div>
        <div class="card col-lg col-md-4 col-sm-6 col-12" style="background-image:url(assets/imgs/img2.jpg);">
            <a href="/pages/Lesson09/" target="_blank">
                <br>合併分支 </a>
        </div>
        <div class="card col-lg col-md-4 col-sm-6 col-12" style="background-image:url(assets/imgs/img3.jpg);">
            <a href="/pages/Lesson08/" target="_blank">
                <br>返回過去版本 </a>
        </div>
        <div class="card col-lg col-md-4 col-sm-6 col-12" style="background-image:url(assets/imgs/img4.jpg);">
            <a href="/pages/Lesson11/" target="_blank">
                <br>使用Tag標籤 </a>
        </div>
    </div>
</section>
<section id='section8' class='bounce-left container flex-column' style="max-width: 100%;">
    <h4>Local 到 Remote</h4>
    <div id="box1" class="box blurred-bg tinted">
        <div class="content p-0 w-100">
            <img class='img-thumbnail' src="assets/imgs/repo.png" alt="local to repo">
        </div>
    </div>
    <a class="btn-1-2" href="/pages2/Lesson01/">前往<i class="fa-solid fa-arrow-right"></i></a>
</section> {% endblock %} {% block scripts %}
<script src="{{ 'https://code.jquery.com/jquery-3.7.1.min.js' |url }}"></script>
<script src="{{ 'https://code.jquery.com/ui/1.12.1/jquery-ui.min.js'|url }}"></script>
<script src="{{ 'https://www.mattboldt.com/demos/typed-js/js/typed.custom.js'|url  }}"></script>
<script src='{{"https://kit.fontawesome.com/f46aa0ed34.js"}}'></script>
{{ super() }}
<script src="{{ 'assets/javascripts/index.js' }}"></script> {% endblock %}